

.accbar{
	margin:0px 0px 0px 0px;
	padding:8px 4px 4px 4px;
	overflow:hidden;
	width:100%;
	border-bottom: 2px solid #f2f2f2;
	background-image:linear-gradient(to right ,#d7d2cc,#304352);
	font-size: 12px;
	text-decoration:none;
}
.accbar li{
	display:block;
	float: left;
	padding:4px 16px;
	wdith:100%;
	
}

.accbar li a{
	text-decoration:none;
}

.accbar li a:hover{
	color:#FF6B6B;
}
.mainspc ul .menu {
	display: block;
	float: left;
	padding:4px 16px;
}

.dp{
	width:170px;
	height:170px;
	margin-right:15px;
}
.mainspc{
	border: 1px solid black;
    padding: 25px 50px 40px 100px;
	margin: 80px 10px 10px 30px;
	background-color:#dbe4f0;
}
.uname{
	position: absolute;
	left:20%;
	top:20%;
	vertical-align: middle;
	padding: 20px 20px 0px 60px;
	float:right;
}
.mname{
	position: absolute;
	left:20%;
	top:20%;	
	vertical-align: middle;
	padding: 20px 20px 0px 60px;
	float:right;
	margin:40px 180px 0px 0px;
}
.subspc{
	border: 1px solid black;
    padding: 40px 10px 100px 10px;
	margin: 10px 120px 10px 30px;
	background-color:#f5eff5;
	width:20%;
}

.subspc ul li{
	display:block;
	padding:10px 16px 4px 16px;
	
}
.subspc ul li a{
	text-decoration:none;
}

.subspc ul li a:hover{
	color:#283048;
}

.cloth{
		display:block;
		margin-top:-290px;
		margin-left:25%;
}

.cloth img{
	float:left;
	padding:10px;
}

#clothbanner{
		margin-left:47%;
		margin-bottom:50px;
		margin-top:40px;
}

.bsrands{
	display:block;
	margin-top:10px;
	margin-left:25%;
}
.brands img{
	float:left;
	padding:10px;
}

.favstore{
	border: 1px solid black;
    padding: 15px;
	margin: 10px 0px 10px 30px;
	width:20%;
	height:10%;
}
.summer{
	padding: 30px 10px 10px 10px;
}
.button1{
  background-color: #4CAF50; /* Green */
  border: none;
  margin-top:20px;
  margin-right:30px;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

	


